@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
    --alata: 'Alata', sans-serif;
    --josefin: 'Josefin Sans', sans-serif;
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark_Gray: hsl(0, 0%, 55%);
    --Very_Dark_Gray: hsl(0, 0%, 41%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: var(--alata);
    min-height: 100vh;
    width: 100vw;
}

.main {
    width: 100vw;
    min-height: 100vh;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url('./images/desktop/image-hero.jpg') no-repeat center center/cover;
    min-height: 90vh;
    padding: 3rem 10rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav,
.logo {
    padding-bottom: 1rem;
}

.nav a {
    color: var(--White);
    text-decoration: none;
    padding-inline: .7rem;
    cursor: pointer;
    position: relative;
    transition: width 0.3s ease;
}


.nav a:after {
    content: '';
    position: absolute;
    width: 0;
    transform-origin: left;
    height: 2px;
    background-color: var(--White);
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    transform: .3s ease;
    transition: width 0.3s ease;
}

.nav a:hover::after {
    width: 70%;
}

.hero_title {
    font-size: 64px;
    color: var(--White);
    font-family: var(--josefin);
    font-weight: 100;
    border: 2px solid var(--White);
    padding: 2rem;
    max-width: 600px;
    margin-top: 10rem;
}

.feature {
    padding: 8rem 3rem;
    display: flex;
    position: relative;
    max-width: 1300px;
    margin: auto;
}

.feature_text {
    background-color: #fff;
    padding: 5rem;
    max-width: 520px;
    height: 382px;
    position: absolute;
    right: 3rem;
    bottom: 1.5rem;
}

.feature_text h1 {
    font-size: 41px;
    font-weight: 100;
    font-family: var(--josefin);
}

.feature_text p {
    margin-top: 1rem;
    font-size: 14px;
    color: var(--Dark_Gray);
}

@media(max-width: 1050px) {
    .hero {
        padding: 3rem;
    }

    .feature {
        padding: 6rem 3rem;
    }
}