@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
    --alata: 'Alata', sans-serif;
    --josefin: 'Josefin Sans', sans-serif;
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark_Gray: hsl(0, 0%, 55%);
    --Very_Dark_Gray: hsl(0, 0%, 41%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: var(--alata);
    min-height: 100vh;
    width: 100vw;
}

.main {
    width: 100vw;
    min-height: 100vh;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url('./images/desktop/image-hero.jpg') no-repeat center center/cover;
    min-height: 90vh;
    padding: 3rem 10rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav,
.logo {
    padding-bottom: 1rem;
}

.nav a {
    color: var(--White);
    text-decoration: none;
    padding-inline: .7rem;
    cursor: pointer;
    position: relative;
    transition: width 0.3s ease;
}


.nav a:after {
    content: '';
    position: absolute;
    width: 0;
    transform-origin: left;
    height: 2px;
    background-color: var(--White);
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    transform: .3s ease;
    transition: width 0.3s ease;
}

.nav a:hover::after {
    width: 70%;
}

.hero_title {
    font-size: 64px;
    color: var(--White);
    font-family: var(--josefin);
    font-weight: 100;
    border: 2px solid var(--White);
    padding: 2rem;
    max-width: 600px;
    margin-top: 10rem;
}

.feature {
    padding: 8rem 10rem;
    display: flex;
    position: relative;
}

.feature_text {
    background-color: #fff;
    padding: 5rem;
    max-width: 520px;
    height: 382px;
    position: absolute;
    right: 10rem;
    bottom: 1.5rem;
}

.feature_text h1 {
    font-size: 41px;
    font-weight: 100;
    font-family: var(--josefin);
}

.feature_text p {
    margin-top: 1rem;
    font-size: 14px;
    color: var(--Dark_Gray);
}

.pics {
    padding: 3rem 10rem;
    text-transform: uppercase;
    overflow: visible;
}

.pics_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pics_top h2 {
    font-family: var(--josefin);
    font-size: 33.6px;
    font-weight: 100;
}

.picsBtn {
    background: transparent;
    font-family: var(--alata);
    border: 1px solid var(--Black);
    padding: .5rem 2rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13.3px;
    letter-spacing: 2px;
    transition: .3s ease;
}

.picsBtn:hover {
    background-color: var(--Black);
    color: var(--White);
    border: 1px solid var(--Black);
}

.photos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
    overflow: visible;
    justify-content: center;
}

.photo {
    flex-basis: 22%;
    height: 332px;
    width: 240px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: visible;
    color: var(--White);
    font-family: var(--josefin);
    font-weight: 400;
    font-size: 27.2px;
    position: relative;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    transition: filter .3s ease;
}

.photo:hover {
    filter: blur(5px);
}

.photo h3 {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.photo:nth-of-type(1) {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url('./images/desktop/image-deep-earth.jpg') no-repeat center top/cover;
}

.photo:nth-of-type(2) {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url('./images/desktop/image-night-arcade.jpg') no-repeat center top/cover;
}

.photo:nth-of-type(3) {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url('./images/desktop/image-soccer-team.jpg') no-repeat center top/cover;
}

.photo:nth-of-type(4) {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url('./images/desktop/image-grid.jpg') no-repeat center top/cover;
}

.photo:nth-of-type(5) {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url('./images/desktop/image-from-above.jpg') no-repeat center top/cover;
}

.photo:nth-of-type(6) {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url('./images/desktop/image-pocket-borealis.jpg') no-repeat center top/cover;
}

.photo:nth-of-type(7) {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url('./images/desktop/image-curiosity.jpg') no-repeat center top/cover;
}

.photo:nth-of-type(8) {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url('./images/desktop/image-fisheye.jpg') no-repeat center top/cover;
}

.footer_inner {
    display: flex;
    justify-content: space-between;
    padding: 3rem 10rem;
    background-color: var(--Black);
    color: var(--White);
}

.fr {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
}

.flogo {
    padding-left: 1rem;
}

.icons i {
    font-size: 30px;
    margin-right: .5rem;
    cursor: pointer;
}

.icons i:after {
    content: '';
    position: absolute;
    width: 0;
    transform-origin: left;
    height: 2px;
    background-color: var(--White);
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    transform: .3s ease;
    transition: width 0.3s ease;
}

.icons i:hover::after {
    width: 100%;
}

.copyright {
    font-size: 16px;
    color: var(--Dark_Gray);
}

.attribution {
    text-align: center;
    position: fixed;
    padding: .2rem 1rem;
    bottom: 0;
    background-color: var(--Black);
    width: 100%;
    color: var(--White);
    font-size: 12px;
}

.attribution a {
    color: crimson;
    cursor: pointer;
}

@media(max-width: 1050px) {

    .hero,
    .pics {
        padding: 3rem;
    }

    .feature {
        padding: 6rem 3rem;
    }

    .feature_text {
        right: 0;
    }

    .footer_inner {
        padding: 3rem 2rem;
    }
}

@media(max-width:789px) {
    .footer_inner {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .fr:nth-of-type(2) {
        padding-left: 1rem;
    }

    .fr {
        gap: 1rem;
        text-align: center;
        align-items: center;
    }

    #footer_nav {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-block: 1rem;
    }
}